$clr-primary: #9dedff;
$clr-primary-hover: #8ad6ff;
$clr-primary-dark: #7bdff6;
$clr-primary-light: #c7f5ff;
$clr-gray100: #f0f7f8;
$clr-gray200: #cfd8dc;
$clr-gray300: #a7b7be;
$clr-gray400: #6b7e86;
$clr-gray500: #425a65;




* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;

}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.signUp {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    margin-bottom: 1rem;

}

.formText {
    margin-bottom: 6rem;

}


.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0.8;
    width: 50rem;
    padding: 2rem;
    border-radius: 1px;
    background-color: #fff;
    height: 100vh;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.lds-hourglass {

    position: absolute;
    top: 30px;
    left: 50%;
    margin-left: -50px;
    width: 100px;
    height: 100px;
    display: none;
}

.lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-hourglass 1.2s infinite;
}

@keyframes lds-hourglass {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

    }


    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

    }

    100% {
        transform: rotate(1800deg);

    }
}


.formInput {
    width: 100%;
    height: 100%;
    border: 2px solid gray;
    border-radius: 0.5rem;
    padding: 1.25rem;
    background: none;

    &:hover {
        border-color: $clr-primary;
    }

    &:focus {
        border-color: $clr-primary-dark;
    }
}

.btn {
    display: block;
    margin-left: auto;
    padding: 0.75rem 2rem;
    background-color: $clr-primary;
    font-family: inherit;
    font-weight: inherit;
    border-radius: 0.5rem;
    outline: none;
    border: none;
    cursor: pointer;
    transition: background-color 200ms ease-in;

    &:hover {
        background-color: $clr-primary-dark;
    }
}

.formGroup {
    position: relative;
    height: 3rem;
    margin-bottom: 1.3rem;
}

.formLabel {
    position: absolute;
    left: 1rem;
    top: 0.9rem;
    background: white;
    padding-left: 5px;

}



.formInput:focus~.formLabel,
.formInput:not(:placeholder-shown).formInput:not(:focus)~.formLabel {

    top: -0.5rem;
    left: 0.8rem;
    font-size: 1rem;
    transition: 200ms all;

}

.regexErr {
    position: relative;
    top: -1rem;
    padding-left: 0.5rem;
    color: red;
    font-weight: 300;
    visibility: hidden;
    transition: 400ms all;
}

.forCheck {
    position: absolute;
    right: 1rem;
    top: 1rem;
    transition: 200ms all;
}

.forCheck input[type="checkbox"],
.forCheck .checked {
    display: none;
}

.forCheck input[type="checkbox"]:checked~.checked {
    display: inline-block;


}

.forCheck input[type="checkbox"]:checked~.unchecked {
    display: none;

}